*.log
*.srt
.git
.github
.idea
tmp
models/*.pt
models/models--Systran--faster-whisper-base
models/models--Systran--faster-whisper-tiny
dev
venv
venv.bak
dist
source
build
test.py
ffmpeg.exe
ffprobe.exe
ffplay.exe
__pycache__
*.spec
*.ui
*.bak
*.aac
*副本.py
pretrained_models
elevenlabs.json
pack.bat
gitcmd.bat
google.txt
videotrans/translator/freechatgpt.py