*.log
*.srt
*.7z
*.wav
*.spec
*.ui
*.bak
*.bat
*.aac
*.pyi
*.mp4
.agree.txt
.git
.github
.idea
.venv
.pytest_cache
.mimocode
.ruff_cache
AGENTS.md
err.txt
nolang.txt
edgetts.txt
debug*.py
ceshi*
ffmpeg/ffmpeg.exe
ffmpeg/ffprobe.exe
ffmpeg/ffplay.exe
ffmpeg/ytwin32.exe
videotrans/ass.json
videotrans/codec.json
videotrans/cfg.json
videotrans/params.json
videotrans/webui_state.json
videotrans/glossary.txt
videotrans/newlang.txt
deps/
g2pW/
output/
hooks
tmp
images
logs
models
dev
venv
chatterbox
!f5-tts/nverguo.wav
!f5-tts/cosy.wav
apidata
dist
source
build
ytlinux
ytdarwin
__pycache__
pretrained_models
runtime
guide/

# Arquivos do sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
test.py