*.log
*.srt
.git
err.txt
.github
.idea
edgetts.txt
tmp
images
models
dev
venv
chatterbox
f5-tts
apidata
venv.bak
dist
source
build
test.py
test.json
ffmpeg/ffmpeg.exe
ffmpeg/ffprobe.exe
ffmpeg/ffplay.exe
ffmpeg/ytwin32.exe
ytlinux
ytdarwin
__pycache__
*.spec
*.ui
*.bak
*.aac
*.pyi
5.wav
15.wav
*副本.py
pretrained_models
pack.bat
pack-api.bat
gitcmd.bat
google.txt
videotrans/translator/freechatgpt.py
videotrans/cfg.json
videotrans/params.json
videotrans/glossary.txt
tmp/
runtime
f5-tts

# Arquivos do sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Diretórios específicos do projeto
videotrans/core/
videotrans/planner/
videotrans/util/segments.py
