faster-whisper
ctranslate2
aiohttp~=3.12.13
certifi
deepl~=1.18.0
gtts~=2.5.1
httpx~=0.28.1
huggingface-hub
librosa~=0.11.0
multidict
numpy~=1.26.0
onnxruntime
openai~=1.108.1
openai-whisper
Pillow
pydub~=0.25.1
pygame~=2.5.2
PySide6~=6.9.2
pytz
PyYAML
requests~=2.32.4
shiboken6
soundfile~=0.13.1
SpeechRecognition
tencentcloud-sdk-python-common
tencentcloud-sdk-python-tmt
torch~=2.7.1+cu128
torchaudio~=2.7.1+cu128
zhconv~=1.4.3
azure-cognitiveservices-speech
pydantic
pydantic_core
elevenlabs~=2.8.1
plyer
flask
waitress
edge-tts
srt
setuptools<81
deepgram-sdk
deepgram-captions
funasr~=1.2.6
modelscope
anthropic~=0.42.0
addict
datasets==3.0
simplejson
gradio_client
sortedcontainers
alibabacloud_alimt20181012==1.1.0
samplerate;sys_platform == 'win32'
google-cloud-texttospeech>=2.14.0
hdbscan
tenacity~=9.1.2
google-genai
hf_xet
pyinstaller~=6.16.0
transformers~=4.46.0
QDarkStyle~=3.2.3
dashscope~=1.23.8
tqdm~=4.67.1
httpcore~=1.0.6