faster-whisper
ctranslate2
aiohttp
certifi
deepl
elevenlabs
google-ai-generativelanguage
google-generativeai
gtts
httpx
huggingface-hub
librosa
multidict
numpy==1.26.4
onnxruntime
openai
openai-whisper
Pillow
pydub
pygame
PySide6
pytz
PyYAML
requests
shiboken6
soundfile
SpeechRecognition
tencentcloud-sdk-python-common
tencentcloud-sdk-python-tmt
torch
torchaudio
zhconv
azure-cognitiveservices-speech
pydantic==2.4.2
pydantic_core==2.10.1
elevenlabs==0.2.27
plyer
flask
waitress
srt
py7zr
deepgram-sdk
deepgram-captions
funasr
modelscope
edge-tts
anthropic
samplerate
