altgraph==0.17.4
anyio==3.7.1
certifi==2023.7.22
chardet==3.0.4
charset-normalizer==3.2.0
colorama==0.4.6
decorator==4.4.2
exceptiongroup==1.1.3
googletrans==3.1.0a0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageio==2.31.4
imageio-ffmpeg==0.4.9
moviepy==1.0.3
numpy==1.26.0
packaging==23.1
pefile==2023.2.7
Pillow==10.0.1
proglog==0.1.10
pydub==0.25.1
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
PySimpleGUI==4.60.5
pywin32-ctypes==0.2.2
requests==2.31.0
rfc3986==1.5.0
sniffio==1.3.0
SpeechRecognition==3.10.0
srt==3.5.2
tqdm==4.66.1
urllib3==2.0.5
