--extra-index-url https://download.pytorch.org/whl/cu121
faster-whisper
ctranslate2==4.4.0
aiohttp
certifi
deepl
elevenlabs
google-ai-generativelanguage
google-generativeai
httpx
huggingface-hub
librosa
multidict
numpy==1.26
onnxruntime
openai
openai-whisper
pydub
PyYAML
requests
soundfile
torch
torchaudio
zhconv
pydantic
pydantic_core
elevenlabs
srt
deepgram-sdk
deepgram-captions
addict
datasets==3.0
simplejson
sortedcontainers
